/* common design */
* {
    font-family: Lato;
    margin: 0;
    padding: 0;
}

.color-primary {
    color: #E55473;

}

.btn-primary {
    border: 0;
    border-radius: 8px;
    background: #E55473;
    padding: 15px 25px;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

.section-title {
    color: #272727;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    padding-bottom: 10px;
}

.section-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}



/* banner design */
.header-container {
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-info {
    width: 50%;
    text-align: left;
    /* padding-left: 250px;
    padding-top: 150px;
    padding-bottom: 50px; */
}

.header-title {
    color: #272727;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
}

.header-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    padding: 30px 0px;
    line-height: 30px;
    /* 166.667% */
}

.header-img {
    height: 90vh;
}

/* Featured flower */

.featured-flower {
    text-align: center;
}

.featured-head {
    margin: 50px auto;
    width: 580px;
}

.feature-option {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.img-back1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 60px 20px 0px 20px;
    height: 428px;
    width: 310px;
}

.img-back2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 60px 20px 0px 20px;
    height: 428px;
    width: 310px;
}

.img-back3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 60px 20px 0px 20px;
    height: 428px;
    width: 310px;
}

.featured-facilities {
    margin: 50px auto;
    display: flex;
    gap: 50px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    width: 72vw;
    padding: 50px;
    justify-content: space-evenly;
}

/* sign up section */

.sign-up {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}

.sign-up {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 30px;
    gap: 100px;
}

.sign-up-title {
    color: #272727;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
}

.sign-up .section-description {
    margin: 20px 0px;
}


.sign-up-info {
    width: 40%;
    text-align: center;
}

.instagram-info {
    text-align: center;
    margin-top: 50px;
}

.instagram-info p {
    width: 40%;
    margin: 0px auto;
}

.instagram-pic {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 50px auto;
    

}

.instagram-item {
    width: 342px;
    height: 396px;
}

.subscription {
    margin: 0px;
}

.subscription-container {
    background-image: url("../flowershop/Flower Asset/Rectangle 9.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 92%;
    text-align: center;
    padding: 50px 0px;
    border-radius: 8px;
}

footer {
    margin-top: 100px;
}

.form-input {
    border-radius: 8px;
    background: #FFF;
    border: 0;
    padding: 15px;
    width: 30%;
}

footer {
    background-color: black;
    text-align: center;
    padding: 50px;
}

footer .section-title {
    color: #FFF;
}

footer .section-description {
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    margin: 0px auto;
    width: 40%;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.rights {
    padding-top: 20px;
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}